<%-include('../account/header');-%>
<!-- Load PayPal's checkout.js Library. -->
<script src="https://www.paypalobjects.com/api/checkout.js" data-version-4 log-level="warn"></script>

<!-- Load the PayPal Checkout component. -->
<script src="https://js.braintreegateway.com/web/3.40.0/js/paypal-checkout.min.js"></script>

<script src="https://js.braintreegateway.com/web/3.40.0/js/client.min.js"></script>
<script src="https://js.braintreegateway.com/web/3.40.0/js/hosted-fields.min.js"></script>
<%-include('../account/nav');-%>
  <div class="row">
    <div class="card card-statistics w-100">
      <div class="card-body">
        <h4>Choose your deposit method</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card card-statistics w-100">
      <div class="card-body">

        <!--start-->
        <div class="form-group">
          <div class="form-radio">
            <input type="radio" checked id="card-option" class="form-check-input" name="optionDeposit" value="Option One">
            <label class="form-check-label" for="">
              <img src="/images/rasta/icon-visa.png" alt="">
              <img src="/images/rasta/icon-mastercard.png" alt="">
              <img src="/images/rasta/icon-amex.png" alt="">
            </label>
          </div>
        </div>
        <!--end-->

        <!--start-->
        <div class="form-group">

          <div class="form-radio">
            <input type="radio" id="paypal-option" class="form-check-input" name="optionDeposit" value="Option One">
            <label class="form-check-label" for="">
              <img src="/images/rasta/icon-paypal.png" alt="">
            </label>
          </div>
        </div>
        <!--end-->


      <!----form-->
        <p class="text-danger" id="error-cont"></p>
      <div class="row card-payment-section">
        <div class="">

        </div>
        <form class="" id="card-form" >
          <!--start-->
          <div class="d-md-flex">
              <div class="form-group grid-margin p-md-3" action="index.html" method="post">
                <label for="card-number">Card Number</label>
                <div  name="" id="card-number" class="form-control" ></div>
              </div>

              <div class="form-group grid-margin p-md-3" action="index.html" method="post">
                <label for="cvv">CVV</label>
                <div  id="cvv" class="form-control" value=""></div>
              </div>
          </div>
          <!--end-->

        <!--start-->
          <div class="d-md-flex">


            <div class="form-group grid-margin p-md-3">
              <label for="expiration-date">Expiration Date</label>
              <div  id="expiration-date" class="form-control" value=""></div>
            </div>

            <div class="form-group grid-margin  p-md-3">
                <label for="card-amount">Amount</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                </div>
                <input type="text" class="form-control" id="card-amount" aria-label="Amount (to the nearest dollar)">
                  <div class="input-group-append">
                      <span class="input-group-text">.00</span>
                  </div>
                </div>
            </div>
        </div><!--end-->

        <div class="row grid-margin pl-3 pl-md-4">
          <input type="submit" name="button"  id="card-submit" value="Deposit" disabled class="btn btn-accent">
        </div>
      </form>
    </div><!--row-- for card payment option-->


    <form class="paypal-payment-section"  method="post">

      <div class="row">
        <div class="form-group grid-margin  p-md-3">
            <label for="">Amount</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
            </div>
            <input type="text" class="form-control" id="paypal-amount" aria-label="Amount (to the nearest dollar)">
              <div class="input-group-append">
                  <span class="input-group-text">.00</span>
              </div>
            </div>
        </div>
      </div>
      <div class="row  grid-margin pl-3 pl-md-4">
        <div class="row">
          <div id="paypal-button"></div>
          <%# <button type="button" name="button" class="btn btn-accent">Deposit</button> %>
        </div>
      </div>
    </form>



      </div><!--row-->
    </div><!--card-->
  </div><!--card-statistics-->
  <script type="text/javascript" >

      const form = document.querySelector('#card-form');
      const card_submit = document.querySelector('#card-submit');
      const error_cont = document.querySelector('#error-cont');
      braintree.client.create({
        authorization: '<%=token%>'
      }, function (clientErr, clientInstance) {
        if (clientErr) {
          console.error(clientErr);
          return;
        }

        // This example shows Hosted Fields, but you can also use this
        // client instance to create additional components here, such as
        // PayPal or Data Collector.

        braintree.hostedFields.create({
          client: clientInstance,
          styles: {
            'input': {
              'border': '1px solid #f2f2f2'

            },
            'input.invalid': {
              'color': 'red'
            },
            'input.valid': {
              'color': 'green'
            }
          },
          fields: {
            number: {
              selector: '#card-number',
              placeholder: '4111 1111 1111 1111'
            },
            cvv: {
              selector: '#cvv',
              placeholder: '123'
            },
            expirationDate: {
              selector: '#expiration-date',
              placeholder: '10/2019'
            }
          }
        }, function (hostedFieldsErr, hostedFieldsInstance) {
          if (hostedFieldsErr) {

            return;
          }

          card_submit.removeAttribute('disabled');

          form.addEventListener('submit', function (event) {
            event.preventDefault();

            hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
              if (tokenizeErr) {
                if(tokenizeErr.code=="HOSTED_FIELDS_FIELDS_EMPTY"){
                  error_cont.innerHTML = "Please fill all required fields";
                }
                else if(tokenizeErr.code=="HOSTED_FIELDS_FIELDS_INVALID"){
                  error_cont.innerHTML = "There was an error processing your card.Please recheck and try again.";
                }
                return;
              }
              const card_amount = document.querySelector('#card-amount').value;
              const url = '/account/deposit';
              const data = {nonce:payload.nonce,amount:card_amount,method:'card'}
              $.ajax({
                type:"post",
                url:url,
                data:data
              }).done(function(result){
                if(result.success){
                  window.location.replace("/account/summary");
                }
              })

            });
          }, false);
        });
      });


//=================Paypal component=================================//
braintree.client.create({
  authorization: '<%=token%>'
}, function (clientErr, clientInstance) {

  // Stop if there was a problem creating the client.
  // This could happen if there is a network error or if the authorization
  // is invalid.
  if (clientErr) {
    console.error('Error creating client:', clientErr);
    return;
  }

  // Create a PayPal Checkout component.
  braintree.paypalCheckout.create({
    client: clientInstance
  }, function (paypalCheckoutErr, paypalCheckoutInstance) {

    // Stop if there was a problem creating PayPal Checkout.
    // This could happen if there was a network error or if it's incorrectly
    // configured.
    if (paypalCheckoutErr) {
      console.error('Error creating PayPal Checkout:', paypalCheckoutErr);
      return;
    }

    // Set up PayPal with the checkout.js library
    paypal.Button.render({
      env: 'sandbox', // or 'production'

      payment: function () {
        const amount = document.querySelector('#paypal-amount').value;
        console.log(amount);
        return paypalCheckoutInstance.createPayment({


          // Your PayPal options here. For available options, see
          // http://braintree.github.io/braintree-web/current/PayPalCheckout.html#createPayment
          flow: 'checkout',
          amount: amount,
          currency: 'USD',
          intent: 'sale'

        });
      },

      onAuthorize: function (data, actions) {
        return paypalCheckoutInstance.tokenizePayment(data, function (err, payload) {
          const amount = document.querySelector('#paypal-amount').value;
          const data =  {method:'paypal',amount:amount,nonce:payload.nonce}
            $.ajax({
              type:'post',
              url:'/test',
              data:data
            }).done(function(result){
              if(result.success){
                window.location.replace("/account/summary");
              }
            })
          // Submit `payload.nonce` to your server.
        });
      },

      onCancel: function (data) {
        console.log('checkout.js payment cancelled', JSON.stringify(data, 0, 2));
      },

      onError: function (err) {
        console.error('checkout.js error', err);
      }
    }, '#paypal-button').then(function () {
      // The PayPal button will be rendered in an html element with the id
      // `paypal-button`. This function will be called when the PayPal button
      // is set up and ready to be used.
    });

  });

});

  </script>
<%-include('../account/footer');-%>
