<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/images/favicon.png">
    <title><%=title%></title>
     <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet">
    <style>

     .unread{
       background-color:#eee !important;
     }

     .header .header-container .nav-right .dropdown-menu > li {
    width: 219px !important;
      }
      #w-100{
        width:100% !important;
      }
      #loader {
        transition: all 0.3s ease-in-out;
        opacity: 1;
        visibility: visible;
        position: fixed;
        height: 100vh;
        width: 100%;
        background: #fff;
        z-index: 90000;
      }

      #loader.fadeOut {
        opacity: 0;
        visibility: hidden;
      }

      .spinner {
        width: 40px;
        height: 40px;
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        background-color: #333;
        border-radius: 100%;
        -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
        animation: sk-scaleout 1.0s infinite ease-in-out;
      }

      @-webkit-keyframes sk-scaleout {
        0% { -webkit-transform: scale(0) }
        100% {
          -webkit-transform: scale(1.0);
          opacity: 0;
        }
      }

      @keyframes sk-scaleout {
        0% {
          -webkit-transform: scale(0);
          transform: scale(0);
        } 100% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
          opacity: 0;
        }
      }
    </style>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body class="app">
    <!-- @TOC -->
    <!-- =================================================== -->
    <!--
      + @Page Loader
      + @App Content
          - #Left Sidebar
              > $Sidebar Header
              > $Sidebar Menu

          - #Main
              > $Topbar
              > $App Screen Content
    -->

    <!-- @Page Loader -->
    <!-- =================================================== -->
    <div id='loader'>
      <div class="spinner"></div>
    </div>

    <script>
      window.addEventListener('load', function load() {
        const loader = document.getElementById('loader');
        setTimeout(function() {
          loader.classList.add('fadeOut');
        }, 300);
      });
    </script>

    <!-- @App Content -->
    <!-- =================================================== -->
    <div>
      <!-- #Left Sidebar ==================== -->
      <div class="sidebar">
        <div class="sidebar-inner">
          <!-- ### $Sidebar Header ### -->
          <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
              <div class="peer peer-greed">
                <a class="sidebar-link td-n" href="/account/summary">
                  <div class="peers ai-c fxw-nw">
                    <div class="peer">
                      <div class="logo d-flex justify-content-center align-items-center">
                        <img src="/images/logo.png" style="width:34px" alt="">
                      </div>
                    </div>
                    <div class="peer peer-greed">
                      <h5 class="lh-1 mB-0 logo-text">Prime Axis</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="peer">
                <div class="mobile-toggle sidebar-toggle">
                  <span  class="td-n">
                    <i class="ti-arrow-circle-left"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <!-- ### $Sidebar Menu ### -->
          <ul class="sidebar-menu scrollable pos-r">
            <li class="nav-item mT-30 active">
              <a class="sidebar-link" href="/account/summary">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-home"></i>
                </span>
                <span class="title">Summary</span>
              </a>
            </li>
            <li class="nav-item">
              <a class='sidebar-link' href="/account/investment">
                <span class="icon-holder">
                  <i class="c-brown-500 ti-bar-chart"></i>
                </span>
                <span class="title">Investment</span>
              </a>
            </li>
            <li class="nav-item">
              <a class='sidebar-link' href="/account/withdraw">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-credit-card"></i>
                </span>
                <span class="title">Withdraw</span>
              </a>
            </li>
            <li class="nav-item">
              <a class='sidebar-link' href="/account/referral">
                <span class="icon-holder">
                  <i class="c-deep-orange-500 ti-user"></i>
                </span>
                <span class="title">Referral</span>
              </a>
            </li>
            <li class="nav-item">
              <a class='sidebar-link' href="/account/investment/top-up">
                <span class="icon-holder">
                  <i class="c-deep-purple-500 ti-money"></i>
                </span>
                <span class="title">Top Up</span>
              </a>
            </li>
            <li class="nav-item">
              <a class='sidebar-link' href="/account/notifications">
                <span class="icon-holder">
                  <i class="c-indigo-500 ti-bell"></i>
                </span>
                <span class="title">Notifications</span>
              </a>
            </li>

            <li class="nav-item dropdown">
              <a class="sidebar-link" href="/account/settings">
                <span class="icon-holder">
                    <i class="c-pink-500 ti-settings"></i>
                  </span>
                <span class="title">Settings</span>
              </a>
            </li>




          </ul>
        </div>
      </div>

      <!-- #Main ============================ -->
      <div class="page-container">
        <!-- ### $Topbar ### -->
        <div class="header navbar">
          <div class="header-container">
            <ul class="nav-left mobile-toggle" >
              <li>
                <a id='sidebar-toggle' class="sidebar-toggle" href="javascript:void(0);">
                  <i class="ti-menu"></i>
                </a>
              </li>


            </ul>
            <ul class="nav-right">
              <li class="notifications dropdown" id="notificationHand">
                <%if(user.is_read == '0'){%>
                  <%var newMessageCount = 0;
                    notifications.forEach(function(notification){
                      if(notification.is_read == '0'){
                        newMessageCount +=1;
                      }
                    })
                  %>
                  <span class="counter bgc-red" id="notificationCount"><%=newMessageCount%></span>
                <%}%>
                <a href="" class="dropdown-toggle no-after" data-toggle="dropdown">
                  <i class="ti-bell"></i>
                </a>

                <ul class="dropdown-menu centerNotification">
                  <li class="pX-20 pY-15 bdB">
                    <i class="ti-bell pR-10"></i>
                    <span class="fsz-sm fw-600 c-grey-900">Notifications</span>
                  </li>
                  <li class="m-0 " id="w-100">
                    <ul class="ovY-a pos-r scrollable lis-n p-0 m-0 fsz-sm">
                      <li>
                        <%if(notifications){%>
                          <%notifications.forEach(function(notification){%>
                            <%if(notification.is_read == '0'){%>
                                <a href="/account/notifications/<%=notification.id%>" noteid="<%=notification.id%>" class=' singleNotePreview unread peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>

                            <%}else{%>
                                <a href="/account/notifications/<%=notification.id%>" noteid="<%=notification.id%>" class=' singleNotePreview peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                            <%}%>
                              <!-- <div class="peer mR-15">
                                <img class="w-3r bdrs-50p" src="https://randomuser.me/api/portraits/men/1.jpg" alt="">
                              </div> -->
                              <div class="peer peer-greed singleNotePreview" noteid="<%=notification.id%>">
                                <span class="singleNotePreview" noteid="<%=notification.id%>">
                                  <span class="fw-500  singleNotePreview" noteid="<%=notification.id%>"><%=notification.topic%></span>
                                  <!-- <span class="c-grey-600">liked your <span class="text-dark">post</span>
                                  </span> -->
                                </span>
                                <p class="m-0  singleNotePreview" noteid="<%=notification.id%>">
                                  <small class="fsz-xs"><%=moment(notification.createdAt).fromNow()%></small>
                                </p>
                              </div>
                            </a>
                          <%})%>
                        <%}%>
                      </li>


                    </ul>
                  </li>
                  <li class="pX-20 pY-15 ta-c bdT">
                    <span>
                      <a href="/account/notifications" class="c-grey-600 cH-blue fsz-sm td-n">View All Notifications <i class="ti-angle-right fsz-xs mL-10"></i></a>
                    </span>
                  </li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">
                  <div class="peer mR-10">
                    <img class="w-2r bdrs-50p" src="/images/rasta/user.png" alt="">
                  </div>
                  <div class="peer mr-2">
                    <!-- <span class="fsz-sm c-grey-900 text-capitalize"><%=user.firstname%> <%=user.lastname%></span> -->
                  </div>
                    <i class="ti-angle-down mR-10" style="font-size: 14px !important;"></i>
                </a>
                <ul class="dropdown-menu fsz-sm">
                  <li>
                    <a  class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                      <i class="ti-user mR-10"></i>
                      <span style="white-space:nowrap;"><%=user.firstname%> <%=user.lastname%></span>
                    </a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a href="/account/settings" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                      <i class="ti-settings mR-10"></i>
                      <span>Settings</span>
                    </a>
                  </li>

                  <li role="separator" class="divider"></li>
                  <li>
                    <a href="/account/logout" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                      <i class="ti-power-off mR-10"></i>
                      <span>Logout</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <!-- ### $App Screen Content ### -->
        <main class='main-content bgc-grey-100'>
          <div id='mainContent'>
