<%-include('../account/header');-%>
<%-include('../account/nav');-%>


        <div class="row">





                    <div class=" grid-margin col-12 shadow">

                        <div class="card card-statistics">

                        <div class="card-body">

                          <div class="notification-body">
                            <h4><%=note.topic%></h4>
                            <p class='mb-1'><%-note.message%></p>
                            <b class="d-block  small-text "><%=moment(new Date(note.createdAt)).fromNow()%></b>

                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="col-12">
                      <a href="/account/notifications" class="btn btn-accent text-white">View All</a>
                    </div>

          </div>

<%-include('../account/footer');-%>
