
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/dashboard.css">

  <title><%=title%></title>

  <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>

</head>
<body class="bg-default">


<header class="header">

    <div class="header__cont">

      <!-- <div class="header__logo">

      </div> -->

      <!--header content-->

      <div class="header__burger">
        <span class="header__burger--bar"></span>
        <span class="header__burger--bar"></span>
        <span class="header__burger--bar"></span>

      </div>


      <!--header-icon-------------------------->
      <div class="header__icon">
          <div class="icon notification overlay-btn" overlay-target="notificationOverlay"> 
            <div class="icon--cont notification "><%-include('../../dist/images/notification.svg')%></div>

          </div>

          <div  class="icon profile dropdown-toggle position-relative"   id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="icon--cont profile">
              <div class="background">
                    <%-include('../../dist/images/profile.svg')%>
              </div>

            </div>

            <div class="dropdown">

                <div class="dropdown-menu profile-dropdown" style="left:-112px !important;" aria-labelledby="dropdownMenuLink">

                  <a class="dropdown-item" id="settingsLink" href="/user/settings"><i><%-include('../../dist/images/settings.svg')%></i>Settings</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" id="logoutLink" href="/user/logout"><i> <%-include('../../dist/images/log-out.svg')%></i>Logout</a>
                </div>
            </div>

          </div>
      </div>
      <!--header icon--->


    </div>


</header>


<!--sidebar-------------------------------------------------------->
<div class="sidebar">
  <div class="sidebar--inner">
        <!--sidebar-inner__cont-------------------->
        <div class="sidebar--inner__cont">

          <div class="sidebar--inner__logo"></div>

          <ul class="sidebar--inner__nav">
            <li class="list">
              <a class="link  <%=(page=='dashboard') ? "sidebar-link active" : "sidebar-link" %>" href="/user/dashboard"><span class="icon-cont"><%-include('../../dist/images/dashboard.svg')%></span><span class="text">Dashboard</span></a>
            </li>
            <li class="list">
              <a class="link <%=(page=='invest') ? "sidebar-link active" : "sidebar-link" %>" href="/user/invest"><span class="icon-cont"><%-include('../../dist/images/investment.svg')%></span><span class="text">Invest / Top Up</span></a>
            </li>
            <li class="list">
              <a class="link <%=(page=='withdraw') ? "sidebar-link active" : "sidebar-link" %>" href="/user/withdraw"><span class="icon-cont"><%-include('../../dist/images/credit-card.svg')%></span><span class="text">Withdraw</span></a>
            </li>
            <li class="list">
              <a class="link <%=(page=='history') ? "sidebar-link active" : "sidebar-link" %>" href="/user/history"><span class="icon-cont"><%-include('../../dist/images/history.svg')%></span><span class="text">History</span></a>
            </li>
            <li class="list">
              <a class="link <%=(page=='referral') ? "sidebar-link active" : "sidebar-link" %>" href="/user/referral"><span class="icon-cont"><%-include('../../dist/images/referral.svg')%></span><span class="text">Invite</span></a>
            </li>

            <li class="list">
              <a class="link <%=(page=='settings') ? "sidebar-link active" : "sidebar-link" %>" href="/user/settings"><span class="icon-cont"><%-include('../../dist/images/settings.svg')%></span><span class="text">Settings</span></a>
            </li>

          </ul>

          <div class="sidebar--inner__footer">

          </div>

        </div>
  </div>


  <div class="sidebar--outer">

    <div class="sidebar--outer__background"></div>
    <div class="sidebar--outer__foreground">
      <span class="close">
        &times;
      </span>
    </div>

  </div>


</div>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
