
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/dashboard.css">

  <title><%=title%></title>

  <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
</head>
<body class="bg-default">


<header class="header">

    <div class="header__cont">

      <!-- <div class="header__logo">

      </div> -->

      <!--header content-->

      <div class="header__burger">
        <span class="header__burger--bar"></span>
        <span class="header__burger--bar"></span>
        <span class="header__burger--bar"></span>

      </div>


      <!--header-icon-------------------------->
      <div class="header__icon">
          <div class="icon notification ">
            <div class="icon--cont notification "><%-include('../../dist/images/notification.svg')%></div>

          </div>

          <div class="icon profile">
            <div class="icon--cont profile">
              <div class="background">
                    <%-include('../../dist/images/profile.svg')%>
              </div>

            </div>

          </div>
      </div>
      <!--header icon--->


    </div>


</header>


<!--sidebar-------------------------------------------------------->
<div class="sidebar">
  <div class="sidebar--inner">
        <!--sidebar-inner__cont-------------------->
        <div class="sidebar--inner__cont">

          <div class="sidebar--inner__logo"></div>

          <ul class="sidebar--inner__nav">
            <li class="list">
              <a class="link active" href="#"><span class="icon-cont"><%-include('../../dist/images/dashboard.svg')%></span><span class="text">Dashboard</span></a>
            </li>
            <li class="list">
              <a class="link" href="#"><span class="icon-cont"><%-include('../../dist/images/investment.svg')%></span><span class="text">Invest / Top Up</span></a>
            </li>
            <li class="list">
              <a class="link" href="#"><span class="icon-cont"><%-include('../../dist/images/credit-card.svg')%></span><span class="text">Withdraw</span></a>
            </li>
            <li class="list">
              <a class="link" href="#"><span class="icon-cont"><%-include('../../dist/images/history.svg')%></span><span class="text">History</span></a>
            </li>
            <li class="list">
              <a class="link" href="#"><span class="icon-cont"><%-include('../../dist/images/referral.svg')%></span><span class="text">Referral</span></a>
            </li>

          </ul>

          <div class="sidebar--inner__footer">

          </div>

        </div>
  </div>


  <div class="sidebar--outer">

    <div class="sidebar--outer__background"></div>
    <div class="sidebar--outer__foreground">
      <span class="close">
        &times;
      </span>
    </div>

  </div>


</div>



<script type="text/javascript">
  let header__burger = $('.header__burger');
  let sidebarOuter   = $('.sidebar--outer');
  header__burger.click(function(){
    openSidebar();
  })

 sidebarOuter.click(function(){
   openSidebar();

 })

  function openSidebar(){
    $('.sidebar').toggleClass('opened')
    $('.sidebar--outer__background').toggleClass('opened')
    $('.close').toggleClass('opened')
  }
</script>
