<%-include('header.ejs')%>

<section class="home-slider owl-carousel">
  <div class="slider-item bread-item" style="background-image: url(images/bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container-fluid">
      <div class="row slider-text align-items-center justify-content-center" data-scrollax-parent="true">

        <div class="col-md-8 mt-5 text-center col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
          <!-- <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Web Hosting</span></p> -->
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">About Us</h1>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="ftco-section bg-light">
  <div class="container">
    <div class="row d-md-flex">
      <div class="col-md-6 ftco-animate">
        <h2>Prime Axis</h2>
      <p>Prime Axis is an investment firm that specializes in forex , commodity trading and CFDs. We have the most flexible pricing and the most comprehensive suite of products available.</p>
      <p>Prime Axis LLC as a company has earned an enviable reputation for our commitment to high ethical standards and the quality of the expertise trading experience we provide.</p>
      <p>Prime Axis LLC gives you a referral bonus of 3% for referring Prime Axis LLC to your friends and family.</p>
      <p>&nbsp;Prime Axis LLC trade in  forex, commodities and CFDs.<br /> * Investors receive 15% ,18% and 24% respectively profit monthly in 25 days depending on packages investors opt for.<br /> * Every asset appreciates to yield extra income for investors.<br /> * Payment is made through Blockchain.com</p>

      </div>
      <div class="col-md-6 ftco-animate p-md-5">
        <h2>Mission / Who we are</h2>
          <p>At Prime Axis, we have a bold vision for the future of the financial community.
            We are bent on transforming and empowering the lives of individuals,
            corporations and institutions through the use of financial knowledge to help
            them make decisions on achieving financial independence.</p>
          <p>
            In the face of unparalleled industry change, we&rsquo;re drawing on our deep knowledge
            and heritage of objectivity to drive performance and innovation with our customers and
            investors.</p>
      </div>
    </div>
  </div>
</section>



<section class="ftco-services">
  <div class="container-wrap">
    <div class="row no-gutters">

      <div class="col-lg-12">
        <div class="services-wrap p-4 p-md-5">
          <div class="heading-section mb-5 ftco-animate">
            <h2 class="mb-2 text-center">Our portfolio</h2>
            <p class="text-center">
              We believe in diversification of investments.
              We believe it is less risky when we have our eggs in various baskets.
            </p>
          </div>
          <div class="d-md-flex">
            <div class="one-half mr-4">
              <div class="list-services d-flex ftco-animate">
                <div class="icon d-flex order-md-last justify-content-center align-items-center">
                  <span class="">
                        <%-include('../public/images/svg/forex.svg')%>

                  </span>
                </div>
                <div class="text pl-4 pl-sm-0 pr-md-4 text-md-right">
                  <h3>Forex Trading</h3>
                  <p>
                    Prime Axis have various managed accounts which are done of clients who have either
                     no time fort trading or with little knowledge in trading. Our managed portfolios
                      are handled by a team of trained experts with experience gained through long years of trading.</p>
                </div>
              </div>
              <div class="list-services d-flex ftco-animate">
                <div class="icon d-flex order-md-last justify-content-center align-items-center">
                  <span class="">
                      <%-include('../public/images/svg/hand-shake.svg')%>
                  </span>
                </div>
                <div class="text pl-4 pl-sm-0 pr-md-4 text-md-right">
                  <h3>Contract for Difference (CFD)</h3>
                  <p>A contract for difference(CFD) is a popular form of derivative trading.
                     CFD enables you to speculate on the rising or falling of fast-moving global financial markets (or instruments) such as shares, indices, commodities, currencies and treasuries. We offer
                    CFDs on various global markets covering shares, indices, treasuries etc.</p>
                    <p>bal markets covering shares, indices, treasuries etc.</p>
                </div>
              </div>

            </div>

            <div class="one-half">
              <div class="list-services d-flex ftco-animate">
                <div class="icon d-flex justify-content-center align-items-center">
                  <span class="">
                      <%-include('../public/images/svg/commodity.svg')%>
                  </span>
                </div>
                <div class="text pl-4 pl-sm-0 pl-md-4">
                  <h3>Commodity Trading</h3>
                <p>
                  At Prime Axis, it is our constant endeavor to bring to you the
                   exemplary products and services to serve you better.
                   In today&rsquo;s time, the commodity market offers a
                   wide range of trading opportunities and to these opportunities
                   for our clients, we execute various trades independently to
                   gain maximum profits for our clients.
                 </p>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="ftco-section bg-light">
  <div class="container">
    <div class="row d-md-flex">
      <div class="col-md-6 ftco-animate">
        <h2>Where it all begun</h2>
        <p>
          In November 2016, a team of engineers from London, United Kingdom came together
        to create Prime Axis investment program.
         In February 2017, due to the high capacity and tremendous profit made, Prime Axis received over 1000 investors with a sum capacity of $150,000 within the same month<br />In December 2017, Prime Axis experienced massive turn up of investors which made them incorporate more traders to ease up the trading packages and meet the expectations of these investors. Prime Axis is an investment consultancy firm that has various investments in  forex trading, CFDs, etc and also trade on behalf of our clients.</p>
    </div>

    <div class="col-md-6 ftco-animate">
      <h2>What we believe in</h2>
    <p>We bring people and ideas together to create greater <span class="font-weight-bold">opportunity</span><br />we&rsquo;re creating an environment with our customers and partners where we can confidently transform change into opportunity.</p>
    <p>We believe in the power of <span class="font-weight-bold">freedom</span><br />We believe that the greatest gift to give a man is freedom to make his own choices and decisions, this can be achieve by giving tools to humanity to change his life.</p>
    <p>We know <span class="font-weight-bold">performance</span> matters most<br />We&rsquo;re building a culture that values pushing boundaries together and taking ownership and action to deliver for our customers.</p>
    <p>Our Vision<br />Be a global firm. </p>

    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <h2 class="mb-4">Team Specialist</h2>
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-5 ftco-animate">
        <div class="block-10">
          <div class="person-info mb-2">
            <span class="name">Anthony Liam</span>
            <span class="position">Head Trader</span>
          </div>
          <img src="/images/rasta/anthony.png" alt="" class="img-fluid mb-3">
          <p></p>
        </div>
      </div>
      <div class="col-md-4 mb-5 ftco-animate">
        <div class="block-10">
          <div class="person-info mb-2">
            <span class="name">Eswari Nagayah</span>
            <span class="position">Manager</span>
          </div>
          <img src="/images/rasta/eswari.png" alt="" class="img-fluid mb-3">
          <p></p>
        </div>
      </div>
      <div class="col-md-4 mb-5 ftco-animate">
        <div class="block-10">
          <div class="person-info mb-2">
            <span class="name">Nana Kwame Asare</span>
            <span class="position">Marketer</span>
          </div>
          <img src="/images/rasta/nana.png" alt="" class="img-fluid mb-3">
          <p></p>
        </div>
      </div>
    </div>
  </div>
</section>












<%-include('footer.ejs')%>
