<marquee class="coinPricesContainer">
 <div class="d-flex">


     <div class="coinPrice">
        <div class="d-flex">
           <img class="coin-img mr-2" src="https://www.cryptocompare.com<%=coinPrices.BTC.USD.IMAGEURL%>">
           <span class="">BITCOIN</span>
           <p class="coin-price "><span class='font-weight-bold'>$<%=coinPrices.BTC.USD.PRICE%></span><span>(<%=coinPrices.BTC.USD.CHANGEPCT24HOUR.toFixed(2)%>)</span></p>
        </div>


     </div>

     <div class="coinPrice">
        <div class="d-flex">
           <img class="coin-img mr-2" src="https://www.cryptocompare.com<%=coinPrices.XRP.USD.IMAGEURL%>">
           <span class="">XRP</span>
           <p class="coin-price "><span class='font-weight-bold'>$<%=coinPrices.XRP.USD.PRICE%></span><span>(<%=coinPrices.XRP.USD.CHANGEPCT24HOUR.toFixed(2)%>)</span></p>
        </div>


     </div>

     <div class="coinPrice">
        <div class="d-flex">
           <img class="coin-img mr-2" src="https://www.cryptocompare.com<%=coinPrices.LTC.USD.IMAGEURL%>">
           <span class="">LITECOIN</span>
           <p class="coin-price "><span class='font-weight-bold'>$<%=coinPrices.LTC.USD.PRICE%></span><span>(<%=coinPrices.LTC.USD.CHANGEPCT24HOUR.toFixed(2)%>)</span></p>
        </div>


     </div>

     <div class="coinPrice">
        <div class="d-flex">
           <img class="coin-img mr-2" src="https://www.cryptocompare.com<%=coinPrices.EOS.USD.IMAGEURL%>">
           <span class="">EOS</span>
           <p class="coin-price "><span class='font-weight-bold'>$<%=coinPrices.EOS.USD.PRICE%></span><span>(<%=coinPrices.EOS.USD.CHANGEPCT24HOUR.toFixed(2)%>)</span></p>
        </div>


     </div>

     <div class="coinPrice">
        <div class="d-flex">
           <img class="coin-img mr-2" src="https://www.cryptocompare.com<%=coinPrices.BCH.USD.IMAGEURL%>">
           <span class="">BITCOIN CASH</span>
           <p class="coin-price "><span class='font-weight-bold'>$<%=coinPrices.BCH.USD.PRICE%></span><span>(<%=coinPrices.BCH.USD.CHANGEPCT24HOUR.toFixed(2)%>)</span></p>
        </div>


     </div>

     <div class="coinPrice">
        <div class="d-flex">
           <img class="coin-img mr-2" src="https://www.cryptocompare.com<%=coinPrices.BNB.USD.IMAGEURL%>">
           <span class="">BINANCE COIN</span>
           <p class="coin-price "><span class='font-weight-bold'>$<%=coinPrices.BNB.USD.PRICE%></span><span>(<%=coinPrices.BNB.USD.CHANGEPCT24HOUR.toFixed(2)%>)</span></p>
        </div>


     </div>

     <div class="coinPrice">
        <div class="d-flex">
           <img class="coin-img mr-2" src="https://www.cryptocompare.com<%=coinPrices.USDT.USD.IMAGEURL%>">
           <span class="">TETHER</span>
           <p class="coin-price "><span class='font-weight-bold'>$<%=coinPrices.USDT.USD.PRICE%></span><span>(<%=coinPrices.USDT.USD.CHANGEPCT24HOUR.toFixed(2)%>)</span></p>
        </div>


     </div>

     <div class="coinPrice">
        <div class="d-flex">
           <img class="coin-img mr-2" src="https://www.cryptocompare.com<%=coinPrices.XLM.USD.IMAGEURL%>">
           <span class="">STELLAR</span>
           <p class="coin-price "><span class='font-weight-bold'>$<%=coinPrices.XLM.USD.PRICE%></span><span>(<%=coinPrices.XLM.USD.CHANGEPCT24HOUR.toFixed(2)%>)</span></p>
        </div>


     </div>

     <div class="coinPrice">
        <div class="d-flex">
           <img class="coin-img mr-2" src="https://www.cryptocompare.com<%=coinPrices.ADA.USD.IMAGEURL%>">
           <span class="">CARDANO</span>
           <p class="coin-price "><span class='font-weight-bold'>$<%=coinPrices.ADA.USD.PRICE%></span><span>(<%=coinPrices.ADA.USD.CHANGEPCT24HOUR.toFixed(2)%>)</span></p>
        </div>


     </div>

     <div class="coinPrice">
        <div class="d-flex">
           <img class="coin-img mr-2" src="https://www.cryptocompare.com<%=coinPrices.ETH.USD.IMAGEURL%>">
           <span class="">ETHEREUM</span>
           <p class="coin-price "><span class='font-weight-bold'>$<%=coinPrices.ETH.USD.PRICE%></span><span>(<%=coinPrices.ETH.USD.CHANGEPCT24HOUR.toFixed(2)%>)</span></p>
        </div>


     </div>

     <div class="coinPrice">
        <div class="d-flex">
           <img class="coin-img mr-2" src="https://www.cryptocompare.com<%=coinPrices.TRX.USD.IMAGEURL%>">
           <span class="">TRON</span>
           <p class="coin-price "><span class='font-weight-bold'>$<%=coinPrices.TRX.USD.PRICE%></span><span>(<%=coinPrices.TRX.USD.CHANGEPCT24HOUR.toFixed(2)%>)</span></p>
        </div>


     </div>

     <div class="coinPrice">
        <div class="d-flex">
           <img class="coin-img mr-2" src="https://www.cryptocompare.com<%=coinPrices.BSV.USD.IMAGEURL%>">
           <span class="">BITCOIN SV</span>
           <p class="coin-price "><span class='font-weight-bold'>$<%=coinPrices.BSV.USD.PRICE%></span><span>(<%=coinPrices.BSV.USD.CHANGEPCT24HOUR.toFixed(2)%>)</span></p>
        </div>


     </div>

</div>
</marquee>
