



<footer class="footer">
  <div class="payment-img-cont">
    <div class="bitcoin">
      <%-include('../dist/images/bitcoin.svg')%>
    </div>
    <div class="paypal">
      <%-include('../dist/images/paypal.svg')%>
    </div>
    <div class="western-union">
      <%-include('../dist/images/western-union.svg')%>
    </div>
    <div class="bank-transfer">
      <%-include('../dist/images/bank-transfer.svg')%>
    </div>
    <div class="money-gram">
      <%-include('../dist/images/moneygram.svg')%>
    </div>
  </div>
  <div class="footer-nav">

    <div class="contact">
      <p>support@primeaxisllc.com</p>
      <p>+44 7451 245056</p>
      <p>&copy; 2019 Primeaxisllc.com</p>
    </div>

  </div>
</footer>
<script type="text/javascript" src="/javascript/primeaxis.js"></script>
</body>
</html>
