<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=title%></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


   <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet">
   <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="stylesheet" href="stylesheets/home.css">
  </head>
  <body>

	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/">Prime Axis</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
	          <li class="nav-item"><a href="/about-us" class="nav-link">About Us</a></li>
	          <li class="nav-item"><a href="/investment-plans" class="nav-link">Investment Plans</a></li>
	          <li class="nav-item"><a href="/faqs"class="nav-link" >Faqs</a></li>
	          <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
            <li class="nav-item"><a href="/login" class="nav-link">Log In</a></li>
	          <li class="nav-item cta"><a href="/register" class="nav-link"><span>Register</span></a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->

  <style media="screen">
    .coinPricesContainer{

      width: 100%;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      white-space: nowrap;
      height:50px;
    }




    .coin-img{
      width: 26px;
      height: 26px;
    }
    .coin-price{
      margin-left:10px;
      margin-bottom:0;
    }

  .coinPrice{
    display:flex;
    margin-right:25px;
  }


   @media(min-width:975px){
     .ftco-navbar-light {
     top: 54px;
     }
   }

  </style>

  <marquee class="coinPricesContainer">
   <div class="d-flex">


       <div class="coinPrice">
          <div class="d-flex">
             <img class="coin-img mr-2" src="https://www.cryptocompare.com<%=coinPrices.BTC.USD.IMAGEURL%>">
             <span class="">BITCOIN</span>
             <p class="coin-price "><span class='font-weight-bold'>$<%=coinPrices.BTC.USD.PRICE%></span><span>(<%=coinPrices.BTC.USD.CHANGEPCT24HOUR.toFixed(2)%>)</span></p>
          </div>


       </div>

       <div class="coinPrice">
          <div class="d-flex">
             <img class="coin-img mr-2" src="https://www.cryptocompare.com<%=coinPrices.XRP.USD.IMAGEURL%>">
             <span class="">XRP</span>
             <p class="coin-price "><span class='font-weight-bold'>$<%=coinPrices.XRP.USD.PRICE%></span><span>(<%=coinPrices.XRP.USD.CHANGEPCT24HOUR.toFixed(2)%>)</span></p>
          </div>


       </div>

       <div class="coinPrice">
          <div class="d-flex">
             <img class="coin-img mr-2" src="https://www.cryptocompare.com<%=coinPrices.LTC.USD.IMAGEURL%>">
             <span class="">LITECOIN</span>
             <p class="coin-price "><span class='font-weight-bold'>$<%=coinPrices.LTC.USD.PRICE%></span><span>(<%=coinPrices.LTC.USD.CHANGEPCT24HOUR.toFixed(2)%>)</span></p>
          </div>


       </div>

       <div class="coinPrice">
          <div class="d-flex">
             <img class="coin-img mr-2" src="https://www.cryptocompare.com<%=coinPrices.EOS.USD.IMAGEURL%>">
             <span class="">EOS</span>
             <p class="coin-price "><span class='font-weight-bold'>$<%=coinPrices.EOS.USD.PRICE%></span><span>(<%=coinPrices.EOS.USD.CHANGEPCT24HOUR.toFixed(2)%>)</span></p>
          </div>


       </div>

       <div class="coinPrice">
          <div class="d-flex">
             <img class="coin-img mr-2" src="https://www.cryptocompare.com<%=coinPrices.BCH.USD.IMAGEURL%>">
             <span class="">BITCOIN CASH</span>
             <p class="coin-price "><span class='font-weight-bold'>$<%=coinPrices.BCH.USD.PRICE%></span><span>(<%=coinPrices.BCH.USD.CHANGEPCT24HOUR.toFixed(2)%>)</span></p>
          </div>


       </div>

       <div class="coinPrice">
          <div class="d-flex">
             <img class="coin-img mr-2" src="https://www.cryptocompare.com<%=coinPrices.BNB.USD.IMAGEURL%>">
             <span class="">BINANCE COIN</span>
             <p class="coin-price "><span class='font-weight-bold'>$<%=coinPrices.BNB.USD.PRICE%></span><span>(<%=coinPrices.BNB.USD.CHANGEPCT24HOUR.toFixed(2)%>)</span></p>
          </div>


       </div>

       <div class="coinPrice">
          <div class="d-flex">
             <img class="coin-img mr-2" src="https://www.cryptocompare.com<%=coinPrices.USDT.USD.IMAGEURL%>">
             <span class="">TETHER</span>
             <p class="coin-price "><span class='font-weight-bold'>$<%=coinPrices.USDT.USD.PRICE%></span><span>(<%=coinPrices.USDT.USD.CHANGEPCT24HOUR.toFixed(2)%>)</span></p>
          </div>


       </div>

       <div class="coinPrice">
          <div class="d-flex">
             <img class="coin-img mr-2" src="https://www.cryptocompare.com<%=coinPrices.XLM.USD.IMAGEURL%>">
             <span class="">STELLAR</span>
             <p class="coin-price "><span class='font-weight-bold'>$<%=coinPrices.XLM.USD.PRICE%></span><span>(<%=coinPrices.XLM.USD.CHANGEPCT24HOUR.toFixed(2)%>)</span></p>
          </div>


       </div>

       <div class="coinPrice">
          <div class="d-flex">
             <img class="coin-img mr-2" src="https://www.cryptocompare.com<%=coinPrices.ADA.USD.IMAGEURL%>">
             <span class="">CARDANO</span>
             <p class="coin-price "><span class='font-weight-bold'>$<%=coinPrices.ADA.USD.PRICE%></span><span>(<%=coinPrices.ADA.USD.CHANGEPCT24HOUR.toFixed(2)%>)</span></p>
          </div>


       </div>

       <div class="coinPrice">
          <div class="d-flex">
             <img class="coin-img mr-2" src="https://www.cryptocompare.com<%=coinPrices.ETH.USD.IMAGEURL%>">
             <span class="">ETHEREUM</span>
             <p class="coin-price "><span class='font-weight-bold'>$<%=coinPrices.ETH.USD.PRICE%></span><span>(<%=coinPrices.ETH.USD.CHANGEPCT24HOUR.toFixed(2)%>)</span></p>
          </div>


       </div>

       <div class="coinPrice">
          <div class="d-flex">
             <img class="coin-img mr-2" src="https://www.cryptocompare.com<%=coinPrices.TRX.USD.IMAGEURL%>">
             <span class="">TRON</span>
             <p class="coin-price "><span class='font-weight-bold'>$<%=coinPrices.TRX.USD.PRICE%></span><span>(<%=coinPrices.TRX.USD.CHANGEPCT24HOUR.toFixed(2)%>)</span></p>
          </div>


       </div>

       <div class="coinPrice">
          <div class="d-flex">
             <img class="coin-img mr-2" src="https://www.cryptocompare.com<%=coinPrices.BSV.USD.IMAGEURL%>">
             <span class="">BITCOIN SV</span>
             <p class="coin-price "><span class='font-weight-bold'>$<%=coinPrices.BSV.USD.PRICE%></span><span>(<%=coinPrices.BSV.USD.CHANGEPCT24HOUR.toFixed(2)%>)</span></p>
          </div>


       </div>

  </div>
</marquee>
