<%-include('../partials/header')%>


<div class="container bg-default">


  <div class="" style="padding:15px">
  <style media="screen">
    .plan-type{
        background-color:green;
        color:white;
    }
  </style>
    <div class="row">

      <%if(user.investment.investment_status=='active' && user.finance.investment_type){%>
            <div class=" col-sm-12">
              <p class="section-title  text-center">PACKAGE</p>

                <%if( user.finance.investment_type =='gold-plan'){%>
                    <p class="section-title plan-type text-center">GOLD</p>
                <%}else if(user.finance.investment_type =='diamond-plan'){%>
                    <p class="section-title plan-type text-center">DIAMOND</p>
                <%}else if(user.finance.investment_type =="convid-plan"){%>
                    <p class="section-title plan-type text-center">CONVID-19</p>
                <%}%>
            </div>
      <%}%>

      <div class=" col-md-12 mt-4">
         <p class="section-title">Balances</p>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class=" col-md-12 mb-4">
        <div class="card has-border border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <p class="text-xs font-weight-bold text-primary  mb-3 onefourem">Principal</p>
                <p class="h5 mb-0  text-gray-800  twoem">$<%=user.finance.principal%></p>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-md-12 mb-4">
        <div class="card has-border border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <p class="text-xs font-weight-bold text-primary  mb-3 onefourem">Interest</p>
                <p class="h5 mb-0  text-gray-800  twoem">$<%=user.finance.interest%></p>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class=" col-md-12 mb-4">
        <div class="card has-border border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <p class="text-xs font-weight-bold text-primary  mb-3 onefourem">Referral Commission</p>
                <p class="h5 mb-0  text-gray-800  twoem">$<%=user.finance.referral_interest%></p>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class=" col-md-12 mt-4">
         <p class="section-title">Earnings Overview</p>
      </div>

      <div class=" col-md-12 ">
        <div class="card  has-border border-left-primary shadow h-100 p-0">
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table table-bordered m-0" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Principal</th>
                    <th>Interest Earned</th>


                  </tr>
                </thead>

                <tbody>
                  <%earnings.forEach(function(earning){%>
                    <tr>
                      <td><%=moment(earning.createdAt).format('l')%></td>
                      <td><%=earning.principal%></td>
                      <td><%=earning.balance%></td>


                    </tr>


                  <%})%>

                </tbody>
              </table>

          </div>
        </div>
      </div>






    </div>
    <!--row-->
  </div>


</div>





















 <%-include('../partials/footer')%>
