<%-include('../partials/header')%>


<div class="container bg-default">


  <div class="">

    <div class="row">

      <div class=" col-md-12 mt-4">
         <p class="section-title">Notification</p>

         <div class="col single-note" style="opacity:0.8;background-color: #eee;padding: 15px;">

           <div class="" style="display:flex">
             <span class="mb-2" style="font-weight:bold;margin-right:auto"><%=notification.topic%></span>
             <span><%=moment(notification.createdAt).format('Do MMM')%>.</span>
           </div>

           <div class="">
             <%-notification.message%>
           </div>

         </div>
      </div>










    </div>
  </div>
</div>       <!-- Content Row -->


       <%-include('../partials/footer')%>
