<%-include('../partials/header')%>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

<div class="container bg-default">






    <div class="" style="padding:15px">


      <div class="invite">
        <div class="invite--cont">

          <div class="invite--cont__img">
            <%-include('../../dist/images/handshake.svg')%>

          </div>

        </div><!--invite--cont-->




          <form class="mb-4">
            <div class="">
              <p class="invite-head">Copy and share your link...</p>
              <div class="">
                <label class="sr-only" for="inlineFormInputGroup">Username</label>
                <div class="input-group mb-2">
                  <input type="text" value="<%=refUrl%>"  class="form-control text-muted" disabled id="inlineFormInputGroup" placeholder="Username">
                  <div class="input-group-prepend">

                    <div id="dd" class="wrapper-dropdown-2 " tabindex="1">Share
                      <ul class="dropdown">
                        <li ><a href="#" data-clipboard-text="<%=refUrl%>" ><i class="icon-twitter icon-large inviteLink"><img src="https://d2gsv5cx9d46bp.cloudfront.net/v2/img/dropdown-icons/link-icn.svg" alt=""></i>Copy</a></li>
                        <li><a href=https://api.whatsapp.com/send?text=Here%20is%20a%20free%20money%20transfer:%20https://primeaxisllc.com?i=testrjwq32"><i class="icon-github icon-large"><img src="https://d2gsv5cx9d46bp.cloudfront.net/v2/img/dropdown-icons/whats-app-icn.svg" alt=""></i>WhatsApp</a></li>
                        <li><a href="#"><i class="icon-facebook icon-large"><img src="https://d2gsv5cx9d46bp.cloudfront.net/v2/img/dropdown-icons/messenger-icn.svg" alt=""></i>Messenger</a></li>
                        <li><a href="#"><i class="icon-facebook icon-large"><img src="https://d2gsv5cx9d46bp.cloudfront.net/v2/img/dropdown-icons/fb-icn.svg" alt=""></i>Facebook</a></li>
                        <li><a href="#"><i class="icon-facebook icon-large"><img src="https://d2gsv5cx9d46bp.cloudfront.net/v2/img/dropdown-icons/twitter-icn.svg" alt=""></i>Tweet</a></li>
                      </ul>
                    </div>

                  </div>

                </div>
              </div>


            </div>
         </form>
         <p class="text-muted"> Earn 3% of principal of whoever you invite. There is no limit to the amount of money or number of peope you invite.</p>


      </div>












</div><!--container-->














<script type="text/javascript">

  $('.inviteLink').click(function(e){
    e.preventDefault();
   const clipboard = new ClipboardJS('.inviteLink');;

  })


</script>
 <%-include('../partials/footer')%>
