<%-include('../partials/header')%>


<div class="container bg-default">


  <div class="" style="padding:15px">

    <div class="row">


      <div class="col-md-12">
        <div class="settings">

            <div class="settings--icon profile">
              <%-include('../../dist/images/name.svg')%>
            </div>
            <div class="settings--text">
                <div class="settings--text__head">
                  <%=user.firstname%> <%=user.lastname%>
                </div>
                <div class="settings--text__desc">
                  Kenneth owusu
                </div>


              </div>
            <div class="settings--action">
              Edit
            </div>

          </div>


          <div class="settings">

              <div class="settings--icon password">
                <%-include('../../dist/images/padlock.svg')%>
              </div>
              <div class="settings--text">
                  <div class="settings--text__head">
                    Change Password
                  </div>
                  <div class="settings--text__desc">
                    ********
                  </div>


                </div>
              <div class="settings--action">
                Edit
              </div>

            </div>

          </div><!---settings-->


        </div>





      </div><!--col-->

    </div><!--row-->

  </div>


</div><!--bg-default-->




<%-include('../partials/footer')%>
