<%
 const last_withdrawal_date  = new Date(user.finance.last_withdrawal_date);
 const today = moment(new Date())
 const next_two_weeks = moment(last_withdrawal_date).add('2','weeks');
  const next_one_week = moment(last_withdrawal_date).add('1','weeks');
 const gold_date_left  = next_two_weeks.diff(last_withdrawal_date,'days')
 const convid_date_left = next_one_week.diff(last_withdrawal_date,'days')
 const duration  = today.diff(last_withdrawal_date,'days')
%>
<%-include('../partials/header')%>


<div class="container bg-default">


  <div class="" style="padding:15px">

    <div class="row">

      <div class=" col-md-12 mt-4">
         <p class="section-title">Balances</p>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class=" col-md-12 mb-4">
        <div class="card  has-border border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <p class="text-xs font-weight-bold text-primary  mb-3 onefourem">Principal</p>
                <p class="h5 mb-0  text-gray-800  twoem">$<%=user.finance.principal%></p>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-md-12 mb-4">
        <div class="card has-border border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <p class="text-xs font-weight-bold text-primary  mb-3 onefourem">Interest</p>
                <p class="h5 mb-0  text-gray-800  text-success">$<%=user.finance.interest%></p>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class=" col-md-12 mb-4">
        <div class="card has-border border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <p class="text-xs font-weight-bold text-info  mb-3 onefourem">Total(Principal + Interest)</p>
                <p class="h5 mb-0  text-gray-800 ">$<%=money.add(user.finance.principal,user.finance.interest)%></p>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>





      <!-- Withdraw Button -->






      <div class=" col-md-12 mb-4">

          <div class="card-body">
            <div class="row no-gutters align-items-center">




                          <%if(user.investment.investment_status=='active' && user.investment.investment_type && user.finance.withdrawal_status == 'pending'){%>



                            <small  class="text-muted">
                               You have pending withrawal. You will receive notification as soon as payment is made.
                            </div>


                     <%}else if(user.investment.investment_status=='active' && user.investment.investment_type == "gold-plan" || user.investment.investment_type == "diamond-plan"){%>

                                 <%if(duration >=  gold_date_left ){%>

                                    <button type="button" class="col-md-12 mb-2 btn btn-primary overlay-btn" overlay-target="requestWithdrawal"  id="withdrawalBtn">Request Withdrawal</button>
                                    <p class="text-muted mT-10">Withdrawal Available</p>


                                <%}else{%>

                                        <button type="button" class="col-md-12 mb-2 btn btn-primary" disabled >Request Withdrawal</button>

                                        <p class="text-muted mT-10">Withdrawal Unavailable.  Your next withdrawal is on <%=next_two_weeks.format('dddd, MMMM Do YYYY')%></p>
                                <%}%>


                         <%}else if(user.investment.investment_status=='active' && user.investment.investment_type == "convid-plan"){%>

                                   <%if(duration >=  convid_date_left ){%>

                                      <button type="button" class="col-md-12 mb-2 btn btn-primary overlay-btn" overlay-target="requestWithdrawal"  id="withdrawalBtn">Request Withdrawal</button>
                                      <p class="text-muted mT-10">Withdrawal Available</p>


                                  <%}else{%>

                                          <button type="button" class="col-md-12 mb-2 btn btn-primary" disabled >Request Withdrawal</button>

                                          <p class="text-muted mT-10">Withdrawal Unavailable.  Your next withdrawal is on <%=next_one_week.format('dddd, MMMM Do YYYY')%></p>
                                  <%}%>

                       <%}%>



          </div>
        </div>
      </div>








    </div><!--row-->
  </div><!--padding:15px---->


</div><!--bg-default-->



<%
  const totalFunds = money.add(user.finance.principal,user.finance.interest);
  const maximumWithdrawal = 0.07 * totalFunds;

%>

<div class="overlay overlay__slide-up" id="requestWithdrawal">

  <span class="overlay--btn"><%-include('../../dist/images/cancel.svg')%></span>
  <div class="overlay--cont">

    <div class="overlay--body ">
                <div class="overlay--body__form">
                          <p>Maximum withdrawal is <span class="font-weight-bold"> $<%=parseFloat(maximumWithdrawal).toFixed(2)%></span> (7% of your total funds)</p>

                     <form class="needs-validation novalidate" action="index.html" method="post">
                       <div class="form-group">
                       <label for="amount">Amount</label>
                          <input type="text" class="form-control isNumber isMoney " id="amount" placeholder="Enter Amount">

                          <div class="invalid-feedback">
                            Enter amount
                          </div>
                       </div>
                       <div class="form-group">
                           <label for="paymentMode">Select Payment Mode</label>
                           <select class="form-control " id="paymentMode" >
                           <option value="">Select</option>
                           <option value="Paypal">Paypal</option>
                           <option value="Bitcoin">Bitcoin</option>
                           </select>
                           <div class="invalid-feedback">
                             Select payament mode
                           </div>

                       </div>

                       <div class="form-group">
                         <label for="address">Wallet Address</label>
                         <input type="text" class="form-control " id="address" placeholder="Your wallet address">
                         <div class="invalid-feedback">Enter wallet address</div>
                       </div>
                       <div class="form-group">
                         <button type="submit"  class="btn  btn-primary w-100" name="button" id="requestWithdrawalBtn">Request Withdrawal</button>
                       </div>

                     </form>
                </div>

    </div>

  </div>

</div>









</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js">

</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript" src="/withdraw.js">

</script>



<%-include('../partials/footer')%>
